/*styles.css*/

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 26px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  border-color: black; 
  border-radius: 4px; 
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
    color: rgb(75, 75, 81); /* Grå färg när musen är över */
    text-decoration: underline; /* Understrykning när musen är över */
    }

article {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 14px;
} 

p {
  font-size: 12px;
}

.title-main {
  font-size: 20px;
}
.text-main {
  font-size: 14px;
}

.button-thumb {
  border-color: rgb(222, 23, 23); 
  border-radius: 6px; 
  font-size: 12px;
  margin: 5px;
}


#nav-right {
  margin-left: auto;
}
/*
#nav-top {

}*/

#main-body {
  display: flex;
  gap: 1rem;
}

#sidebar-left {
  background-color: rgb(221, 223, 221);
  width: 20rem;
  margin: 1rem;
  padding: 0 1rem 1rem 1rem;
  border-radius: 6px;
}

#sidebar-right {
  background-color: rgb(221, 223, 221);
  width: 20rem;
  margin-left: auto;
  margin: 1rem;
  padding: 0 1rem 1rem 1rem;
  border-radius: 6px;
  font-size: 14px;
}

#main {
  background-color: rgb(221, 223, 221);
  width: auto;
  align-content: flex-start;
  padding: 0 1rem 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
}

#logo-footer {
  margin: 2rem 1.5rem 1rem 1rem;
}